@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

img {
  width: 100%;
  display: block;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li, ul {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#672fc0), to(#9b4fa7));
  background: linear-gradient(#672fc0, #9b4fa7);
  overflow-x: hidden;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 650px;
  height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6945a3), to(#5b2c62));
  background: linear-gradient(#6945a3, #5b2c62);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  height: 70px;
  width: 190px;
  background: white;
  margin: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box h2 {
  font-size: 15px;
}

.box p {
  font-size: 11px;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
}

.box__menu {
  height: 70px;
  width: 40px;
  background: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.box__menu span {
  position: absolute;
  background: #2a2a2a;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 3px solid #3a2344;
}

.box__menu span:nth-child(1) {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.box__menu span:nth-child(3) {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.box__menu .iconi {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active {
  background: white;
  width: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active span {
  background: #2a2a2a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active span:nth-child(1) {
  -webkit-transform: translateY(0) translateX(-60px);
          transform: translateY(0) translateX(-60px);
}

.active span:nth-child(3) {
  -webkit-transform: translateY(0) translateX(60px);
          transform: translateY(0) translateX(60px);
}

.active span:hover {
  background: #6200ff;
}

.active .iconi {
  display: block;
  color: white;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile__icon {
  width: 40px;
  height: 40px;
  background: white;
  margin: 10px;
  border-radius: 10%;
  border: 1px solid #c7c7c7;
}
/*# sourceMappingURL=style.css.map */